body{
    background: azure url("background.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    color: gold;
}

h1{
    text-align: center;
}

img{
    display:block;
    margin:0 auto;
   text-align: center ;
}

h3{
    text-align:center;
}

a:visited{

    color: gold;
}

a:link{
    color:gold;
}

a:hover{
    font-size: 20px;
    color: goldenrod;
}