body{
    color: black;
}

.menu{
    position: fixed;
    display:inline;
}

.tables{
    margin-left:20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.desc{
    margin-left: 30px;
    margin-right: 20px;
}

.discText{
    position: absolute;
    display:inline;
    font-size: 20px;
}

a:link{
    color:black;
}
a:active{
    color:black;
}
a:hover{
    color:black;
}
a:visited{
    color:black;
}

.tbText{
    text-align: center;
}